[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/indentline"]
	path = bundle/indentline
	url = https://github.com/Yggdroot/indentLine
    ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/tComment"]
	path = bundle/tComment
	url = https://github.com/vim-scripts/tComment
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = https://github.com/bingaman/vim-sparkup
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/neocomplcache.vim"]
	path = bundle/neocomplcache.vim
	url = https://github.com/Shougo/neocomplcache.vim
[submodule "bundle/html5.vim"]
	path = bundle/html5.vim
	url = https://github.com/othree/html5.vim
